body,
html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 10px 0px;
    line-height: 1;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Nothing You Could Do', cursive;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 100;
}

.main__title::first-letter {
    font-size: 1.5em;
}

.main__content {
    color: white;
    display: flex;
    max-width: 90%;
    gap: 40px;
    margin-bottom: 40px;
}

.main__card {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 40px;
}

.card__title {
    text-align: end;
    font-family: 'Nothing You Could Do', cursive;
    text-transform: uppercase;
    font-size: medium;
}

.card__title i {
    font-size: 1.5em;
    margin-right: 24px;
}

.card__descr {
    text-align: justify;
    font-size: small;
    direction: rtl;
}

.footer {
    display: flex;
    padding: 20px 15%;
    gap: 100px;
}

.content__title {
    font-family: 'Nothing You Could Do', cursive;
    text-transform: uppercase;
}

.content__text {
    text-align: justify;
    direction: rtl;
}

.footer__contacts {
    flex: 1 0 auto;
}

.contacts__title {
    margin-left: 2em;
    font-weight: normal;
    font-size: normal;
}

.contacts__link {
    display: block;
    text-decoration: none;
    color: black;
    margin: 40px 0;
}

.contacts__link i {
    font-size: 2em;
    color: #999379;
}