.banner {
    padding: 0 120px;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 80px);
    background-color: $bg-color;

    .banner__container {
        flex-basis: 1440px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        .banner__info {
            max-width: 585px;
            font-family: $titles-font;

            .banner__title {
                font-size: 64px;
                line-height: 72px;
                margin: 0 0 20px 0;
                color: $gray1;
            }

            .banner__text {
                margin: 0 0 48px 0;
                font-family: $text-font;
                color: $gray2;
            }

            .banner__btn {
                box-sizing: border-box;
                background-color: #6248FF;
                color: white;
                font-family: inherit;
                text-transform: uppercase;
                border: none;
                border-radius: 60px;
                padding: 20px 64px;
                font-size: 16px;
                line-height: 14px;
                cursor: pointer;

                &:hover {
                    background-color: $violet-hover;
                }

                &:active {
                    background-color: $violet-pressed;
                }
            }
        }
    }

    .banner__img {
        flex-shrink: 0;

        img {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 1100px) {
    .banner {
        padding: 0 40px;

        .banner__container {
            padding: 40px 0;
            flex-direction: column;
            gap: 32px;

            .banner__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }

        .banner__img {
            flex-shrink: 1;
        }
    }
}

@media screen and (max-width: 450px) {
    .banner {
        padding: 0 20px;

        .banner__container {
            padding: 20px 0;
            justify-content: flex-start;

            .banner__info {
                .banner__title {
                    font-size: 40px;
                    line-height: 44px;
                }

                .banner__btn {
                    width: 100%;
                }
            }
        }
    }

}