.footer {
    padding: 35px 120px;
    display: flex;
    justify-content: center;
    font-family: $text-font;

    .footer__container {
        flex-basis: 1440px;
        display: flex;
        flex-direction: column;
        gap: 75px;

        .footer__info {
            display: flex;

            .footer__logo {
                flex-basis: 2 / 12 * 100%;

                img {
                    width: 45px;
                    height: 16px;
                }
            }

            .footer__text {
                flex-basis: 8 / 12 * 100%;
                display: flex;
                gap: 30px;

                h4 {
                    margin: 0 0 16px 0;
                    font-family: $titles-font;
                    font-size: 18px;
                    line-height: 30px;
                }

                p {
                    margin: 0;
                    line-height: 27px;
                }
            }

            .footer__links {
                flex-grow: 1;
                display: flex;
                justify-content: end;

                ul {
                    @extend %ul-reset;
                    line-height: 16px;
                    font-size: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    a {
                        @extend %a-reset;
                        font-size: 15px;
                        line-height: 16px;
                        font-family: $titles-font;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .footer__credits {
            display: flex;
            color: $gray3;

            span {
                flex-basis: 4 / 12 * 100%;
            }


            .credits__links {
                flex-basis: 7 / 12 * 100%;
                display: flex;
                justify-content: space-around;
            }

            a {
                @extend %a-reset;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .footer {
        padding: 35px 40px;

        .footer__container {
            gap: 67px;

            .footer__info {
                flex-direction: column;
                align-items: stretch;
                gap: 40px;

                .footer__logo {
                    order: -2;
                    align-self: center;
                    margin: 20px 0;
                }

                .footer__links {
                    order: -1;
                    justify-content: stretch;

                    ul {
                        flex-direction: row;
                        flex-grow: 1;
                        justify-content: space-between;
                    }
                }

                .footer__text {
                    flex-direction: column;
                    gap: 5px;

                    .text__column1,
                    .text__column2 {
                        align-self: center;
                        max-width: 508px;

                        h4 {
                            text-align: center;
                        }
                    }
                }
            }

            .footer__credits {
                flex-direction: column;
                align-items: center;
                gap: 16px;

                .credits__links {
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .footer {
        .footer__container {
            .footer__info {
                .footer__links {
                    ul {
                        flex-direction: column;
                    }
                }

                .footer__text {

                    .text__column1,
                    .text__column2 {
                        max-width: 100%;

                        h4 {
                            text-align: start;
                        }
                    }
                }
            }

            .footer__credits {
                text-align: center;
            }
        }
    }
}