$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #828282;
$gray4: #E0E0E0;
$violet: #6248FF;
$violet-hover: #7181FC;
$violet-pressed: #354BF4;
$bg-color: rgba(98, 72, 255, 0.1);
$titles-font: 'Museo Sans Cyrl 700', sans-serif;
$text-font: 'Montserrat', sans-serif;