html,
body {
    margin: 0;
}

@import 'fonts';
@import 'variables';
@import 'extends';

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @import 'header';

    .main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 140px;
        @import 'banner';
        @import 'steps';
        @import 'feedback';
        @import 'comments';
        @import 'questions';
    }

    @import 'footer';
}

@media screen and (max-width: 768px) {
    .wrapper {
        .main {
            gap: 120px;
        }
    }
}

@media screen and (max-width: 320px) {
    .wrapper {
        .main {
            gap: 80px;
        }
    }
}