html,
body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.form__header {
    text-transform: uppercase;
    font-size: 20px;
    background-color: #222222;
    border-bottom: 2px groove #272725;
    color: #fff2cb;
    margin: 0;
    padding: 8px;
}

.form__body {
    box-sizing: content-box;
    flex-basis: 438px;
    min-width: 504px;
    background-color: #1c1c1c;
    color: #b6b6b6;
}

.form__row {
    display: flex;
    border-bottom: 2px groove #272725;
    padding: 12px 0 12px 0;
}

.form__row label {
    display: inline-block;
    width: 8em;
    text-align: end;
    margin-right: 12px;
    font-size: 12px;
}

.form__row input {
    width: 40%;
    background-color: #262626;
    border: 2px groove #272725;
    height: 2.5em;
    color: #b6b6b6;
}

.form__row textarea {
    background-color: #262626;
    border: 2px groove #272725;
    color: #b6b6b6;
    resize: vertical;
}

.form__submit {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 58px;
}

.form__submit input {
    margin-right: 24px;
    background-color: #d00000;
    border: none;
    color: #b6b6b6;
    padding: 6px;
    border-radius: 2px;
}