* {
	margin: 0px;
	padding: 0px;
}

.form {
	max-width: 1200px;
	margin: auto;
	border: 2px solid #91ba6f;
}

.form__header {
	display: flex;
	height: 40px;
	background: #c1eb9f;
	align-items: center;
	border-bottom: 2px solid #91ba6f;
}

.form__header select {
	background: #c1eb9f;
	border: none;
}

.form__header h3 {
	margin: 0 15px;
}

.form__body>div {
	width: 50%;
	min-width: 380px;
}

.form__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.form__item {
	display: flex;
	margin: 25px 0 25px 15px;
	justify-content: space-between;
}

.form__item span {
	color: red;
}

.form__item input[type="text"] {
	width: 250px;
}

.form__item .form__textarea {
	height: 100px;
}

.form__item select {
	width: 252px;
}

#w-50 {
	width: 125px;
	margin-right: 125px;
}

.form__web {
	width: 250px;
	display: flex;
	flex-direction: column;
}

.form__webItem {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.form__webItem input {
	width: 150px !important;

}

.form__footer {
	height: 40px;
	background: lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form__footer>input {
	border: none;
	background: #91ba6f;
	color: white;
	margin: 0 5px;
	cursor: pointer;
	padding: 5px 10px;
	text-transform: uppercase;
}

.form__list {
	list-style: none;
}

.form__right .form__item {
	justify-content: flex-start;
}

.form__question,
.form__message {
	width: 50%;
}