.card__info {
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
    justify-content: center;
}

.info__title {
    margin: 12px 0;
    text-align: center;
    font-size: 18px;
}

.card__info p {
    margin: 0px;
    font-size: 12px;
}