html,
body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.form__body {
    flex: 0 1 350px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 24px;
    gap: 12px;
    box-sizing: border-box;
}

.form__header {
    text-align: center;
}

label {
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
}

input {
    height: 2em;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    width: max-content;
    background-color: blue;
    color: white;
    border-radius: 5px;
    height: 2em;
    border-color: blue;
}

input:focus {
    box-shadow: 0 0 10px blue;
    outline: none;
    border-style: solid;
    border-radius: 4px;
}