@font-face {
	font-family: 'Roboto Condensed';
	src: url(../fonts/RobotoCondensed-Regular.ttf) format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../fonts/RobotoCondensed-Bold.ttf) format('truetype');
	font-weight: 700;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	min-height: 100vh;
	background-color: #dedede;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	background-color: #353535;
	display: flex;
	align-items: center;
	padding: 20px 10%;
	box-sizing: border-box;
	position: sticky;
	top: 0;
}

.header__logo {
	color: #b34253;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: normal;
	flex: 1 0 auto;
	text-align: end;
	line-height: 1;
}

.header__logo>span {
	color: white;
}

.header__menu {
	flex: 0 1 60%;
}

.header__menu ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	gap: 64px;
	display: flex;
	justify-content: center;
}

.header__menu a {
	text-decoration: none;
	color: white;
	transition: 250ms;
}

.header__menu a:hover {
	color: #b34253;
	transition: 250ms;
}

.burger__input {
	appearance: none;
	position: absolute;
}

.burger__input:checked~ul {
	display: block;
	position: absolute;
	background-color: #353535;
	top: 72px;
	right: 0;
	text-align: center;
	border-end-end-radius: 5px;
	border-end-start-radius: 5px;
}

.burger__input:checked~ul li {
	padding: 20px 40px;
}

.burger__btn {
	display: flex;
	flex-direction: column;
	gap: 6px;
	cursor: pointer;
}

.burger__line {
	height: 2px;
	width: 24px;
	background-color: white;
	transition: 250ms;
}

.burger__btn:hover .burger__line {
	background-color: #b34253;
	transition: 250ms;
}

/* main */

.main {
	flex-grow: 1;
}

/* banner */

.banner {
	background-image: url(../img/bg.webp);
	min-height: 440px;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding: 4%;
}

.banner__info {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.banner__title {
	margin: 0;
	font-size: 48px;
}

.banner__subtitle {
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	letter-spacing: 2px
}

.banner__text {
	color: #84877c;
	font-size: 18px;
	letter-spacing: 2px;
}

.banner__btn {
	background: rgb(172, 52, 62);
	background: linear-gradient(90deg, rgba(172, 52, 62, 1) 0%, rgba(172, 52, 62, 0.20211834733893552) 100%);
	text-transform: uppercase;
	color: white;
	border: none;
	padding: 8px 16px;
	margin: 50px;
	transition: 250ms;
	cursor: pointer;
}

.banner__btn:hover {
	background-color: #b34253;
	transition: 250ms;
}

/* articles */

.articles {
	display: flex;
	padding: 35px 2%;
	background-color: #dedede;
}

.articles__item {
	flex-basis: 100%;
	background-color: #868684;
	display: flex;
	position: relative;
}

.articles__item:nth-child(2n) {
	background-color: #dedede;
}

.articles__wrapper {
	padding: 8px 18px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}

.articles__img {
	width: 100%;
}

.articles__title {
	margin: 0;
}

.articles__text {
	flex-grow: 1;
	margin: 0;
}

.articles__btn {
	background: rgb(172, 52, 62);
	background: linear-gradient(90deg, rgba(172, 52, 62, 1) 0%, rgba(172, 52, 62, 0.20211834733893552) 100%);
	color: white;
	border: none;
	padding: 8px 16px;
	transition: 250ms;
	cursor: pointer;
}

.articles__btn:hover {
	background-color: #b34253;
	transition: 250ms;
}

/* popup */

.articles__info {
	position: absolute;
	top: 14px;
	right: 24px;
	cursor: pointer;
}

.articles__info:hover .articles__popup {
	opacity: 1;
	transition: 250ms;
}

.articles__popup {
	opacity: 0;
	transition: 250ms;
	background-color: white;
	position: absolute;
	top: 30px;
	right: -10px;
	width: 150px;
	padding: 14px;
	border-radius: 3%;
}

.articles__popup::before {
	content: "";
	position: absolute;
	top: -20px;
	left: 150px;
	border: solid 10px transparent;
	border-bottom-color: white;
}

/* footer */

.footer {
	background-color: #353535;
	display: flex;
	align-items: center;
	padding: 20px 10%;
	box-sizing: border-box;
	position: sticky;
	top: 0;
}

.footer__logo {
	color: #b34253;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: normal;
	flex: 1 0 auto;
	text-align: end;
	line-height: 1;
}

.footer__logo>span {
	color: white;
}

.footer__icons {
	flex: 0 1 60%;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: end;
}

.footer__icons a {
	text-decoration: none;
	color: #353535;
	background-color: white;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 250ms;
}

.footer__icons a:hover {
	background-color: #b34253;
	transition: 250ms;
}

/* responsibility */

@media screen and (min-width: 675px) {
	.burger__btn {
		display: none;
	}
}

@media screen and (max-width: 674px) {
	.header__menu ul {
		display: none;
	}

	.header__menu {
		display: flex;
		justify-content: end;
	}

	.articles {
		flex-direction: column;
		gap: 24px;
		align-items: center;
	}

	.articles__item {
		max-width: 80%;
	}
}

@media screen and (max-width: 430px) {
	.header__logo {
		font-size: 24px;
	}

	.banner__title {
		font-size: 30px;
	}

	.banner__subtitle {
		font-size: 20px;
		letter-spacing: 0;
	}

	.banner__text {
		font-size: 14px;
		letter-spacing: 0;
	}

	.articles__item {
		max-width: 100%;
	}

	.footer__logo {
		font-size: 24px;
	}

	.footer {
		flex-direction: column;
		gap: 5px;
	}
}