* {
    margin: 0;
    padding: 0;
    font-family: 'Reem Kufi', sans-serif;
}

.background {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.banner__info {
    position: absolute;
    max-width: 640px;
    right: 0;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 20px;
}

.banner__title,
.banner__subtitle,
.banner__descr {
    color: black;
    line-height: 1;
    background-color: rgba(240, 248, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: inherit;
    padding: 20px;
}

.banner__title {
    text-transform: uppercase;
}

.banner__descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.banner__descr p {
    line-height: 1.5;
}

.banner__btn {
    text-decoration: none;
    outline: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

.banner__btn:focus,
.banner__btn:hover {
    outline: 2px solid black;
    outline-offset: 2px;
}

.navbar {
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dots {
    word-spacing: 0.5em;
}

.fa-circle,
.fa-arrow-left,
.fa-arrow-right {
    opacity: 0.5;
}

.fa-circle:hover,
.fa-arrow-left:hover,
.fa-arrow-right:hover {
    cursor: pointer;
    opacity: 1;
}

.rows {
    position: absolute;
    right: 0;
    word-spacing: 0.5em;
}

@media screen and (max-width: 400px) {
    .banner__info {
        bottom: 10%;
    }
}