.feedback {
    background-color: $bg-color;
    padding: 120px 120px;
    font-family: $text-font;
    color: $gray1;
    display: flex;
    justify-content: center;

    .feedback__container {
        flex-basis: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        .feedback__info {
            flex-basis: 499px;
            display: flex;
            flex-direction: column;
            gap: 48px;
            flex-shrink: 1;

            .info__greeting {
                display: flex;
                flex-direction: column;
                gap: 32px;

                h4 {
                    margin: 0;
                    font-family: $titles-font;
                    font-size: 56px;
                    line-height: 66px;
                }

                p {
                    margin: 0;
                    font-size: 18px;
                    line-height: 30px;
                    color: $gray2;
                }
            }

            .info__contacts {

                .contacts__title {
                    margin: 0 0 24px 0;
                }

                address {
                    font-style: normal;

                    h5 {
                        margin: 0 0 8px 0;
                        font-family: $titles-font;
                    }

                    a {
                        @extend %a-reset;
                        display: block;
                        margin: 0 0 16px 0;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }

        .feedback__form {
            flex: 0 1 585px;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 20px;
            border: 1px solid $violet;
            padding: 80px;
            box-sizing: border-box;
            gap: 24px;

            input {
                border: 1px solid $gray4;
                border-radius: 3px;
                color: $gray3;
                font-family: inherit;
                padding: 7px 16px;
                font-size: 16px;
                line-height: 26px;
            }

            textarea {
                border: 1px solid $gray4;
                border-radius: 3px;
                color: $gray3;
                font-family: inherit;
                padding: 7px 16px;
                font-size: 16px;
                line-height: 26px;
                resize: none;
            }

            input[type="submit"] {
                align-self: center;
                background-color: $violet;
                color: white;
                padding: 20px 64px;
                border-radius: 60px;
                text-transform: uppercase;
                font-family: $titles-font;

                &:hover {
                    background-color: $violet-hover;
                }

                &:active {
                    background-color: $violet-pressed;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .feedback {
        padding: 130px;

        .feedback__container {
            flex-direction: column;

            .feedback__info {
                .info__greeting {
                    h4 {
                        font-size: 40px;
                        text-align: center;
                    }
                }
            }

            .feedback__form {
                flex: 1 1 auto;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .feedback {
        padding: 48px 20px;

        .feedback__container {

            .feedback__info {
                .info__greeting {
                    h4 {
                        text-align: start;
                    }
                }
            }

            .feedback__form {
                padding: 48px 16px;
            }
        }
    }
}