.questions {
    font-family: $titles-font;
    color: $gray1;
    display: flex;
    flex-direction: column;
    gap: 68px;
    padding: 0 120px;

    .questions__title {
        margin: 0;
        font-size: 56px;
        line-height: 66px;

        span {
            background-color: $bg-color;
        }
    }

    .questions__list {
        max-width: 10 / 12 * 100%;
        @extend %ul-reset;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .list__item {
        width: 100%;
        padding: 32px 80px 32px 40px;
        border: 2px solid $violet;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .item__question {
        margin: 0;
        font-size: 24px;
        position: relative;
    }

    .item__answer {
        font-family: $text-font;
        font-size: 16px;
        line-height: 27px;
    }

    .item__btn {
        position: absolute;
        right: -40px;
        appearance: none;
        border: none;
        background: transparent;
        cursor: pointer;
        height: 32px;
        width: 32px;
        padding: 8px 8px;

        &::before,
        &::after {
            position: absolute;
            top: 6px;
            content: '';
            height: 18px;
            width: 2px;
            background-color: $gray1;
        }

        &::before {
            transform: rotate(90deg);
        }
    }

    .item__btn--active {
        position: absolute;
        right: -40px;
        appearance: none;
        border: none;
        background: transparent;
        cursor: pointer;
        height: 32px;
        width: 32px;
        padding: 8px 8px;

        &::before,
        &::after {
            position: absolute;
            top: 6px;
            content: '';
            height: 18px;
            width: 2px;
            background-color: $gray1;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

@media screen and (max-width: 1120px) {
    .questions {
        padding: 0 40px;

        .questions__list {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .questions {
        padding: 0 20px;

        .questions__title {
            font-size: 40px;
            line-height: 44px;
        }
    }
}